apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-gelwaibi
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-gelwaibi:203373a2d707c05f70ee2e11c92c26c54362c222@sha256:0ce893bbebaa3604a6033c2c5bc35a58b9ad12d7f0205568225ba569392208c0
        name: container-image  
